@model Flight_System.Models.Employees_Phone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employees_Phone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employees.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.secondname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.secondname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employees.ssn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employees.ssn)
        </dd>

    </dl>
</div>
<p>
<p>
    @if (User.IsInRole(role: "Admin"))
    {
        <a href="~/Employees_Phone/Edit/@Html.DisplayFor(Model=>Model.ssn)?Phone=@Html.DisplayFor(model=>model.Phone)" class="btn btn-danger">Edit</a>
        <a href="~/Employees_Phone/Delete/@Html.DisplayFor(Model=>Model.ssn)?Phone=@Html.DisplayFor(model=>model.Phone)" class="btn btn-danger">Delete</a>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <a href="~/Employees_Phone/Index" class="btn btn-danger">Back</a>
    }

</p>
